$primary-width: 1200px;
$color:#ffffff;
$primari-content:space-between;
$primaru-radius: 22px;
$size:35px;
$location: center;

body{
    background-image: url(../img/nain-fon.avif);
    background-attachment: fixed;
}
.container{
    border: 0.125rem solid $color;
}
.bg-gray-main{
    .container{
        background: #2F4F4F;
        max-width: $primary-width;
        margin: auto;
        .nav-menu{
            background: url(../img/fonn-max.jpg);
            display: flex;
            justify-content: $primari-content;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 20px;
            padding-bottom: 280px;
            .nav-logo{
                width: 66px;
                height: auto;
                border-radius: 22px;
                margin-left: 35px;
                margin-top: 25px;
            }
            .nav-list{
                padding-right: 35px;
                display: flex;
                width: 410px;
                justify-content: $primari-content;
                list-style: none;
                a{
                    text-decoration: none;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0.1em;
                    color: #cdd4d3;
                    transition: all 300ms;
                    padding-right: 22px;
                    &:hover{
                        color: blue;
                    }
                }
            }
        }
    }
}
.main-text{
    .container{
        background-color:$color;
        max-width: $primary-width;
        margin: auto;
        .text-bloc{
            text-align: center;
            padding: 30px 0 30px 0;
            h3{
                font-size: 50px;
                margin: 0;
            }
            h2{
                font-size: 60px;
                font: italic small-caps bold 30px/2 cursive;
                margin: 0;
            }
    }   }
}

.bg-gray{
    .container{
        max-width: $primary-width;
        margin: auto;
        background-color:#bebebe;
        .menu{
            padding-bottom: 50px;
            padding-top:30px;
           .menu-main-bloc{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 18px;
                grid-row-gap: 20px;
                justify-content: center;
                margin-left: auto;
                p{
                    font-size:19px;
                }
            }
            .menu-main-bloc-left{
                display: block;
                justify-content: end;
                margin-right: 18px;
            }
            .menu-main-bloc-rigth{
                display: block;
                justify-content: start;
                margin-left: 18px;
            }
            .menu-main-bloc img{
                width: 250px;
                height: 270px;
                border: 3px solid #708090;
                border-radius: 15px;
                margin: 30px 0 0px 0;
            }
        }
    }
}
.bg-blue{
    .container{
        max-width: $primary-width;
        margin: auto;
        background-color:$color;
        .footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;
            .text-footer{
                padding-left: 45px;
                padding-bottom: 25px;
                p{
                    color: #000000;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                span{
                    color: #000000;
                    font-weight: 400;
                    font-size: 13px;
                }
            }
            .footer-social{
                display: flex;
                column-gap: 22px;
                padding-right: 25px;
            
            img{
                width: 43px;
                height: 30px;
                transform: scale(1);
                transition: all .4s;
                border-radius: 7px;
                &:hover{
                    transform: scale(1.2);
                    transition: all .4s;
                }
            }
            .nav-logo{
                width: 46px;
                height: auto;
                border-radius: 25px;
            }
            }
        }
    }
}